body{
    background-color:black;
    color:white;
    font-family:'Courier New', monospace;
    margin:0;
    padding:0;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

h1,h2{
    color:white;
    text-align:left;
}

.navbar{
    border-bottom:2px solid white;
}

.me-2{
    width:40px;
}

.story-container{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.story-text{
    max-width:50%;
}

.avatar-container {
    border:2px solid white;
    width:300px;
    height:100px;
}

.avatar{
    width:288px;
    height:88px;
    margin:4px;
    object-fit: cover;
}

.my-img{
    max-width:300px;
    height:auto;
    border:2px solid white;
    box-shadow:0 0 10px white;
}

.btn-primary{
    background:black;
    border:2px solid;
    border-color:white;
    color:white;
}

.btn-primary:hover{
    background:white;
    border-color:white;
    color:black;
}

.my-input{
    background:black;
    border:1px solid white;
    color:white;
}

.my-input:focus{
    background:black;
    color:white;
    border-color:white;
    box-shadow:0 0 5px white;
}

.my-input::placeholder{
    color:white;
}

.form-label{
    color:white;
}
